body {
	letter-spacing: 1px;
}

li a {
	text-decoration: none;
	color: #b3b3b3;
	padding-bottom: 3px;
	-webkit-transition: all .1s ease-out;
	transition: all .1s ease-out;
}

a:hover {
	text-decoration: none;
	color: #333333;
	border-bottom: 2px solid #167ad5; 
}

hr {
	margin: 0;
}

.glyphicon {
	cursor: pointer;
}
.glyphicon-chevron-down {
	color: #474747;
}

.glyphicon-search {
	color: #7f7f7f;
	font-size: 13px;
	line-height: 36px;
}

.head li,
.nav li,
.products-sort li,
.footer li {
	font-size: 11px;
	margin-right: 20px;
	font-family: 'Lato', 'Roboto';
	text-transform: uppercase;
	word-wrap: normal;
	white-space: nowrap;
}

.head,
.nav,
.footer {
	height: 50px;
	position: relative;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0 5%;
	width: 100vw;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.info > ul,
.options > ul,
.nav-list > ul,
.bag > ul,
.products-sort > ul {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	list-style-type: none;
	text-align: right;
	width: 100%;
}

.options {
	line-height: 60px;
}

.options li:first-child {
	padding-right: 20px;
	border-right: 1px solid #ededed;
}

.options ul li a {
	margin-right: 7px; 
}

.nav {
	margin: 30px 0;
}

.logo,
.nav-list,
.bag,
.products-sort {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.logo {
	cursor: default;
	padding-left: 40px;
	font-family: 'Didot', 'sans-serif';
	font-weight: bold;
	font-size: 38px;
}

.logo h1 {
	margin: 0 auto;
	position: relative;
}

.nav-list {
	-ms-flex-preferred-size: 50vw;
	    flex-basis: 50vw;
}

.nav-list > ul,
.bag ul,
.products-sort ul {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-line-pack: center;
	    align-content: center;
	padding: 0 0;
}

.nav-list li,
.products-sort li,
.bag ul li:nth-child(1), {
	font-size: 12px;
	font-family: 'Lato', 'Roboto';
	color: #b3b3b3;
}

.nav .nav-list ul li:nth-child(4) a {
	color: #fc411d;
}

.bag {
	font-size: 12px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.bag ul li {
	margin: 0 5px;
}

.bag li:first-child {
	padding-top: 12px;
}

.bag ul li:nth-child(2) {
	font-size: 12px;
	font-family: 'Lato', 'sans-serif';
	border: 2px solid #3f97df;
	border-radius: 100%;
	line-height: 34px;
	padding: 0 14px;
}

.products {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-line-pack: stretch;
	    align-content: stretch;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.products h1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-family: 'Playfair Display', 'sans-serif';
	font-size: 58px;
	margin-bottom: 40px;
}

.products-sort {
	-ms-flex-item-align: stretch;
	    -ms-grid-row-align: stretch;
	    align-self: stretch;
	margin: 0 20% 40px 20%;
}

.gallery {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-width: 80vw;
	max-width: 95vw;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-line-pack: justify;
	    align-content: space-between;
	margin: 0 5vw;
}

.item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 15px;
}

.item-img {
	margin: 15px;
	max-height: 300px;
}

.item-name {
	font-family: 'Playfair Display', 'sans-serif';
	color: #333333;
}

.new {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: absolute;
	top: 25px;
	left: 25px;
	width: 50px;
	z-index: 5;
	font-family: 'Lato', 'sans-serif';
	font-size: 11px;
	color: #fff;
	background: -webkit-linear-gradient(left, #1376d4, #258fdd);
	background: linear-gradient(to right, #1376d4, #258fdd);
	text-transform: uppercase;
	padding: 0 5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	cursor: default;
}

.cost {
	font-family: 'Lato';
	color: #adadad;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.old-cost {
	text-decoration: line-through;
	margin-right: 5px;
}

.new-cost {
	color: #fc411d;
}

.load-more,
.copyright {
	font-family: 'Lato', 'sans-serif';
	font-size: 12px;
	color: #333;
	opacity: 0.5;
}

.load-more {
	text-transform: uppercase;
	margin: 60px;
	cursor: pointer;
}

.subscribe {
	height: 300px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.background {
	background-image: url(img/subBackground.jpg);
	z-index: -5;
	left: 0;
	position: absolute;
	height: 300px;
	width: 100vw;
}

.subscribe > span {
	font-family: 'Lato', 'sans-serif';
	font-size: 12px;
	opacity: 60%;
	text-transform: uppercase;
	margin-top: 70px;
}

.subscribe h1 {
	font-family: "Playfair Display", 'sans-serif';
	font-size: 38px;
	color: white;
	margin-bottom: 25px;
}

.email-form input {
	color: #ffffff;
	font-family: 'Lato', 'sans-serif';
	font-size: 12px;
	width: 300px;
	height: 50px;
	border-radius: 30px;
	border-color: rgba(255,255,255, 0.7);
	background: rgba(0,0,0,0);
	border-style: solid;
	padding-left: 25px; 
}

::-webkit-input-placeholder {color:#fff;}
::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
:-moz-placeholder           {color:#fff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#fff;}

.glyphicon-chevron-right {
	color:#fff;
	position: relative;
	left: -50px;
}

.footer {
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	margin: 30px 0 60px 0;
}

.footer a {
	color: #333;
}

@media screen and (max-width: 1200px) {
	.item-img {
		margin: 15px;
	}
}

@media screen and (max-width: 899px) {
	.logo {
		padding-left: 0;
	}

	.logo:first-child {
		margin-right: 20px;
	}

	.nav-list {
		-ms-flex-preferred-size: auto;
		    flex-basis: auto;
	}

	.item img {
		max-height: 200px;
	}
}

@media screen and (max-width: 599px) {
	.head, .head ul {
		padding: 0 5px;
	}

	.head li {
		margin-right: 20px;
	}

	.logo {
		width: 100%;
		margin-bottom: 10px;
		font-size: 26px;
	}

	.nav {
		margin: 15px 0;
	}

	.nav-list {
		width: 100vw;
	}

	.nav-list li {
		margin: auto;
	}

	.bag {
		-ms-flex-item-align: end;
		    align-self: flex-end;
		width: 100vw;
	}

	.bag ul {
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}

	.products h1 {
		margin: 40px auto 20px auto;
		font-size: 38px;
	}

	.products-sort {
		width: 90vw;
		margin: 0 5vw;
	}

	.products-sort li {
		margin: auto;
	}

	.item {
		font-size: 14px;
	}

	.load-more {
		margin: 30px;
	}

	.subscribe {
		height: 200px;
	}

	.subscribe .background{
		height: 200px;
	}

	.subscribe span {
		margin-top: 20px;
	}
}

@media screen and (max-width: 400px) {
	.gallery {
		margin: auto 5vw;
	}

	.item img {
		max-width: 120px;
	}	
}